
<% content_for :title, "Whitehall Migration: #{@whitehall_migration.id}" %>

<%= render "govuk_publishing_components/components/summary_list", {
  items: [
    {
      field: "Time started",
      value: format_time_on_date(@whitehall_migration.created_at)
    },
    {
      field: "Time finished",
      value: @whitehall_migration.finished_at.nil? ? "unfinished" : format_time_on_date(@whitehall_migration.finished_at)
    },
    {
      field: "Number of document imports",
      value: @whitehall_migration.document_imports.count
    }
  ],
  borderless: true
} %>

<h2 class="govuk-heading-m">Document import states</h2>
<%
  items = @whitehall_migration.document_imports.states.map do |state, _|
    {
      link: {
        text: "#{state.titleize}: #{@whitehall_migration.document_imports.where(state: state).count}",
        path: whitehall_migration_documents_path(migration_id: @whitehall_migration, state: state),
      },
    }
  end
%>

<%= render "govuk_publishing_components/components/document_list", items: items %>

<% if @whitehall_migration.document_imports.completed.exists? %>
  <h2 class="govuk-heading-m">Selection of imported documents to view</h2>
  <% random_items = @whitehall_migration.document_imports.completed.order(Arel.sql("RANDOM()")).first(10).map do |document_import|
      {
        link: {
          text: document_import.document.current_edition.title
        },
        subtext: "View: <a href=\"#{Plek.find('whitehall-admin')}/government/admin/by-content-id/#{document_import.content_id}\">Whitehall</a> View: <a href=\"#{Plek.find('content-publisher')}/documents/#{document_import.content_id}:en\">Content Publisher</a>".html_safe
      }
    end
  %>
  <%= render "govuk_publishing_components/components/document_list", items: random_items %>
<% end %>
