<% content_for :back_link, render_back_link(href: document_path(@edition.document)) %>
<% content_for :title, @collection.plural_name.capitalize %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/button", {
      text: "New #{@collection.singular_name}",
      href: new_collection_item_path(@edition.document, @collection.id),
      margin_bottom: true,
    } %>

    <% items = @edition.contents[@collection.id].to_a %>

    <% if items.any? %>
      <% if items.count > 1 %>
        <p class="govuk-body govuk-!-margin-bottom-8">
          <%= link_to(
            "Reorder #{@collection.plural_name.capitalize}",
            reorder_collection_items_path(@edition.document, @collection.id),
            class: "govuk-link"
          ) %>
        </p>
      <% end %>

      <% items.each do |item| %>
        <%= render "collection_item", edition: @edition, collection: @collection, item: item %>
      <% end %>
    <% else %>
      <p class="govuk-body">
        No <%= @collection.plural_name.capitalize %>
      </p>
    <% end %>
  </div>
</div>
