<%
  lead_images = @document.images.select { |image| image.id == @document.lead_image_id }
  lead_image = lead_images.first
%>

<% if lead_image %>
  <h2 class="govuk-heading-m">
    <%= t("document_images.index.lead_image") %>
  </h2>

  <%= render "components/image_meta", {
    id: "image-#{lead_image.id}",
    src: url_for(lead_image.thumbnail),
    meta: {
      alt_text: lead_image.alt_text,
      caption: lead_image.caption,
      credit: lead_image.credit
    },
    actions: [
      link_to("Edit crop", crop_document_image_path(@document, lead_image), class: "govuk-link"),
      link_to("Edit details", edit_document_image_path(@document, lead_image), class: "govuk-link"),
    ]
  } %>
<% end %>
