<%
  id ||= nil
  actions ||= []
%>

<%= tag.div class: "app-c-attachment-meta", id: id do %>
  <%= render "govuk_publishing_components/components/attachment", {
    attachment: attachment,
    hide_help_text: true,
    target: "_blank",
  } %>
  <% if actions.any? %>
    <%= tag.ul class: "app-c-attachment-meta__actions" do %>
      <% actions.each do |action| %>
        <li><%= action %></li>
      <% end %>
    <% end %>
  <% end %>

<% end %>
