<%
  id ||= "autocomplete-#{SecureRandom.hex(4)}"
  options ||= []
  selected_options ||= []
  multiple ||= nil
  type ||= nil
  size ||= nil
  hint ||= nil
%>

<div class="app-c-autocomplete govuk-form-group" data-module="autocomplete" data-autocomplete-type="<%= type %>">
  <%= render "govuk_publishing_components/components/label", {
    html_for: id
  }.merge(label.symbolize_keys) %>

  <% if options.any? %>
    <% if multiple %>
      <span class="govuk-hint app-c-autocomplete__multiselect-instructions">To select multiple items in a list, hold down Ctrl (PC) or Command (Mac) key.</span>
    <% end %>

    <% if hint %>
      <span class="govuk-hint"><%= hint %></span>
    <% end %>

    <%= select_tag name,
      options_for_select(options, selected_options),
      id: id,
      class: "govuk-select",
      size: size,
      multiple: multiple
    %>

  <% else %>
    <p class="govuk-hint">No options available</p>
  <% end %>
</div>
