<%
  id ||= "image-meta-#{SecureRandom.hex(4)}"
  alt_text ||= nil
  actions ||= []
  metadata_items ||= []
%>
<div class="app-c-image-meta" id="<%= id %>">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <%= tag.img class: "app-c-image-meta__image",
        src: src,
        alt: alt_text
      %>

    </div>
    <div class="govuk-grid-column-two-thirds">
      <% if metadata_items.any? %>
        <%= render "components/metadata", {
          inline: true,
          items: metadata_items,
        } %>
      <% end %>
    </div>
  </div>

  <% if actions.any? %>
    <ul class="app-c-image-meta__actions">
      <% actions.each do |action| %>
        <li><%= action %></li>
      <% end %>
    </ul>
  <% end %>
</div>
