<% content_for :browser_title, @supertype.label %>
<% content_for :back_link, render_back_link(href: new_document_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag create_document_path, data: { gtm: "confirm-document-type" } do %>
      <%= render "govuk_publishing_components/components/radio", {
        heading: @supertype.label,
        is_page_heading: true,
        name: "document_type",
        error_items: @issues&.items_for(:document_type),
        items: @supertype.document_types.map { |document_type|
          {
            value: document_type.id,
            text: document_type.label,
            hint_text: document_type.description,
            data_attributes: {
              gtm: "choose-document-type",
              "gtm-value": document_type.label,
            },
            conditional: document_type.hint ? tag.div(govspeak_to_html(document_type.hint_govspeak), class: "govuk-body") : nil,
            bold: true,
          }
        }
      } %>

      <%= hidden_field(nil, :supertype, value: @supertype.id) %>
      <%= render "govuk_publishing_components/components/button", text: "Continue", margin_bottom: true %>
    <% end %>
  </div>
</div>
