<% content_for :back_link, root_path %>
<% content_for :title, t("pages.new_document.choose_supertype.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag(choose_document_type_path, method: :get, enforce_utf8: false) do %>
      <%= render "govuk_publishing_components/components/radio", {
        name: "supertype",
        items: @supertypes.map do |supertype|
          {
            value: supertype.id,
            text: supertype.label,
            hint_text: supertype.description,
            bold: true,
          }
        end
      } %>

      <%= render "govuk_publishing_components/components/button", text: t("pages.new_document.choose_supertype.actions.continue"), margin_bottom: true %>
    <% end %>
  </div>
</div>
