<% content_for :browser_title, t("new_document.choose_supertype.title") %>
<% content_for :back_link, render_back_link(href: root_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag(choose_document_type_path,
                 method: :get,
                 enforce_utf8: false,
                 data: { gtm: "confirm-supertype" }) do %>
      <%= render "govuk_publishing_components/components/radio", {
        heading: t("new_document.choose_supertype.title"),
        is_page_heading: true,
        name: "supertype",
        error_items: @issues&.items_for(:supertype),
        items: Supertype.all.map do |supertype|
          {
            value: supertype.id,
            text: supertype.label,
            hint_text: supertype.description,
            bold: true,
            data_attributes: {
              gtm: "choose-supertype",
              "gtm-value": supertype.label,
            },
            conditional: supertype.hint ? tag.p(supertype.hint, class: "govuk-body") : nil,
          }
        end
      } %>

      <%= render "govuk_publishing_components/components/button", text: "Continue", margin_bottom: true %>
    <% end %>
  </div>
</div>
