<% content_for :back_link, new_document_path %>
<% content_for :title, t("pages.new_document.guidance.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/govspeak" do %>
      <%= raw Govspeak::Document.new(File.read("app/views/new_document/guidance.govspeak.md")).to_html %>
    <% end %>
  </div>
</div>
