<% content_for :back_link, document_path(@document) %>
<% content_for :title, t("retire_document.retire.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/govspeak" do %>
      <%= govspeak_to_html File.read("app/views/retire_document/retire.govspeak.md") %>
    <% end %>
  </div>
</div>
