@import "govuk-frontend/helpers/all";
@import "govuk-frontend/settings/all";

// TODO: support this modifier in govuk-frontend
.govuk-link.app-link--destructive {
  color: $govuk-error-colour;

  &:link,
  &:visited {
    color: $govuk-error-colour;
  }

  &:hover,
  &:active {
    color: govuk-colour("bright-red");
  }
}

.app-link--right {
  float: right;
}
