@import "../../../node_modules/govuk-frontend/helpers/all";
@import "../../../node_modules/govuk-frontend/settings/all";
@import "../../../node_modules/govuk-frontend/tools/all";
@import "../../../node_modules/govuk-frontend/core/links";


// TODO: support this modifier in govuk-frontend
.govuk-link.app-link--destructive {
  color: $govuk-error-colour;

  &:hover {
    color: govuk-colour("bright-red");
  }
}

.app-link--right {
  float: right;
}
