<% content_for :browser_title, t("publish.confirmation.title") %>
<% content_for :back_link, render_back_link(href: document_path(@edition.document)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag publish_confirmation_path(@edition.document), data: { gtm: "confirm-publish" } do %>
      <%= render "govuk_publishing_components/components/radio", {
        heading: t("publish.confirmation.title"),
        is_page_heading: true,
        name: "review_status",
        error_items: @issues&.items_for(:review_status),
        items: [
          {
            value: "reviewed",
            text: t("publish.confirmation.has_been_reviewed"),
            data_attributes: {
              gtm: "choose-publish-review-status",
              "gtm-value": t("publish.confirmation.has_been_reviewed"),
            },
          },
          {
            value: "published_without_review",
            text: t("publish.confirmation.should_be_reviewed"),
            data_attributes: {
              gtm: "choose-publish-review-status",
              "gtm-value": t("publish.confirmation.should_be_reviewed"),
            },
          },
        ]
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Confirm publish",
      } %>
    <% end %>
  </div>
</div>
