<% content_for :back_link, render_back_link(href: document_path(@document)) %>
<% content_for :title, t("unwithdraw_document.unwithdraw.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render_govspeak(File.read("app/views/unwithdraw/unwithdraw.govspeak.md")) %>
  </div>
</div>
