<% content_for :back_link, render_back_link(href: document_path(@edition.document)) %>
<% content_for :title, t("unwithdraw.no_managing_editor_permission.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render_govspeak(File.read("app/views/unwithdraw/non_managing_editor.govspeak.md")) %>
  </div>
</div>
