<% data ||= {} %>
<% value = edition.contents[field.name] || data[field.name] %>
<% values = field.values(value) %>
<% if values.length > 0 %>
  <ul class="govuk-list">
    <% values.map do |value| %>
      <li><%= value %></li>
    <% end %>
  </ul>
<% end %>
