<div id=<%= schema.id %>>
  <p><%= schema.id %>:</p>

  <% service = LinkablesService.new(schema.document_type) %>

  <% if values&.any? %>
    <ul>
      <% values.each do |content_id| %>
        <% begin %>
          <li><%= service.by_content_id(content_id)["internal_name"] %></li>
        <% rescue GdsApi::HTTPErrorResponse, SocketError %>
          This content isn't available right now.
        <% end %>
      <% end %>
    </ul>
  <% else %>
    None
  <% end %>
</div>
