<div id=<%= schema.id %>>
  <p><%= schema.id %>:</p>

  <% service = LinkablesService.new(schema.document_type) %>

  <% if values&.any? %>
    <ul>
      <% values.each do |content_id| %>
        <li><%= service.by_content_id(content_id)["internal_name"] %></li>
      <% end %>
    </ul>
  <% else %>
    None
  <% end %>
</div>
