<% service = LinkablesService.new(schema.document_type) %>
<div id=<%= schema.id %>>
  <p><%= schema.id %>: <%= values ? service.by_content_id(values.first)["internal_name"] : "None" %>
  </p>
</div>
