<% if values.any? %>
  <ul class="govuk-list">
    <% values.each do |value| %>
      <li><%= value&.fetch("internal_name") %></li>
    <% end %>
  </ul>
<% else %>
  <%= t("documents.show.tags.none") %>
<% end %>
