<div class="govuk-grid-column-one-third">
  <%= render "components/side_navigation", {
    items: [
      {
        label: "What the Beta can and cannot do",
        href: beta_capabilities_path,
        current: current_page == beta_capabilities_path,
      },
      {
        label: "How to use Content Publisher",
        href: how_to_use_publisher_path,
        current: current_page == how_to_use_publisher_path
      },
      {
        label: "What's new in Content Publisher",
        href: publisher_updates_path,
        current: current_page == publisher_updates_path
      },
    ]
  } %>
</div>
