<div class="govuk-grid-column-one-third">
  <ul class="govuk-list">
    <li>
      <% if current_page == beta_capabilities_path %>
        <strong>What the Beta can and cannot do</strong>
      <% else %>
        <a href="<%= beta_capabilities_path %>" class="govuk-link govuk-link--no-visited-state">What the Beta can and cannot do</a>
      <% end %>
    </li>
    <li>
      <% if current_page == how_to_use_publisher_path %>
        <strong>How to use Content Publisher</strong>
      <% else %>
        <a href="<%= how_to_use_publisher_path %>" class="govuk-link govuk-link--no-visited-state ">How to use Content Publisher</a>
      <% end %>
    </li>
    <li>
      <% if current_page == publisher_updates_path %>
        <strong>What's new in Content Publisher</strong>
      <% else %>
        <a href="<%= publisher_updates_path %>" class="govuk-link govuk-link--no-visited-state ">What's new in Content Publisher</a>
      <% end %>
    </li>
  </ul>
</div>
