<div class="govuk-grid-column-one-third">
  <%= render "components/side-nav", {
    items: [
      {
        label: "What the Beta can and cannot do",
        href: current_page != beta_capabilities_path ? beta_capabilities_path : nil,
      },
      {
        label: "How to use Content Publisher",
        href: current_page != how_to_use_publisher_path ? how_to_use_publisher_path : nil,
      },
      {
        label: "What's new in Content Publisher",
        href: current_page != publisher_updates_path ? publisher_updates_path : nil,
      },
    ]
  } %>
</div>
