<p>
  <%= render "govuk_publishing_components/components/label", {
    text: label,
    html_for: "associations[#{name}]"
  } %>

  <%= tag.select associations[name],  name: "associations[#{name}]", class: "govuk-select", multiple: true, style: "height: 200px" do
    options_for_select LinkablesService.new("topical_event").select_options
  end %>
</p>
