<p>
  <%= render "govuk_publishing_components/components/label", {
    text: schema.label,
    html_for: "tags[#{schema.id}]"
  } %>

  <% options = LinkablesService.new(schema.document_type).select_options %>

  <% if options.any? %>
  <%= select_tag "tags[#{schema.id}][]",
    options_for_select(options, tags[schema.id]),
    class: "govuk-select",
    data: { module: "autocomplete-multiselect" }
  %>
  <% end %>
</p>
