<% content_for :back_link, render_back_link(href: document_path(@document)) %>
<% content_for :title, t("unpublish.retire.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/govspeak" do %>
      <%= govspeak_to_html File.read("app/views/unpublish/unpublish.govspeak.md") %>
    <% end %>
  </div>
</div>
