<p>
  <%= render "govuk_publishing_components/components/label",
    text: schema.label,
    html_for: "document[contents][#{schema.id}]"
  %>

  <%= tag.textarea document.contents[schema.id],
    rows: 15,
    class: "govuk-textarea",
    name: "document[contents][#{schema.id}]"
  %>
</p>
