<p>
  <%= render "govuk_publishing_components/components/label", {
    text: label,
    html_for: "document[contents][#{name}]"
  } %>

  <%= tag.textarea document.contents[name], class: "govuk-textarea", name: "document[contents][#{name}]" %>
</p>
