<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "components/markdown-editor", {
      label: {
        text: t("formats.contents.#{schema.id}.label")
      },
      textarea: {
        data: {
          "contextual-guidance": "document-contents-guidance"
        },
        id: "govspeak-editor",
        name: "document[contents][#{schema.id}]",
        value: document.contents[schema.id],
        rows: 25,
        spellcheck: "false"
      }
    } %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render "components/contextual-guidance", {
      id: "document-contents-guidance",
      title: t("formats.document_types.#{document.document_type}.guidance.#{schema.id}.title")
    } do %>
      <p class="govuk-body"><%= t("formats.document_types.#{document.document_type}.guidance.#{schema.id}.body") %></p>
      <h3 class="govuk-heading-s">Markdown</h3>
      <p class="govuk-body">
          <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/markdown" class="govuk-link">Full Markdown guidance</a>
      </p>

      <%= render "components/markdown-toolbar", {
        html_for: "govspeak-editor"
      } %>
    <% end %>
  </div>
</div>
