
<% @document.images.each_with_index do |image, i| %>

  <% remove_lead_image_button = capture do %>
    <%= form_tag remove_document_lead_image_path(@document), method: :delete do %>
      <button class="govuk-link">Remove</button>
    <% end %>
  <% end %>

  <% choose_lead_image_button = capture do %>
    <%= form_tag choose_document_lead_image_path(@document, image) do %>
      <button class="govuk-link">Choose image</button>
    <% end %>
  <% end %>

  <%= render "components/image_meta", {
    id: "image-#{i}",
    src: url_for(image.thumbnail),
    lead_image: image == @document.lead_image,
    meta: {
      alt_text: image.alt_text,
      caption: image.caption,
      credit: image.credit,
    },
    actions: {
      edit_link: edit_document_lead_image_path(@document, image, next_screen: "lead-image"),
      remove_button: remove_lead_image_button,
      choose_button: choose_lead_image_button
    }
  } %>
<% end %>
