<% content_for :back_link, document_lead_image_path(@document) %>
<% content_for :title, t("document_lead_image.crop.title", title: @document.title_or_fallback) %>

<p class="govuk-body">
  <%= t("document_lead_image.crop.description") %>
</p>

<%= form_tag(crop_document_lead_image_path(@document, @image), method: :patch) do %>
  <%= render "/components/image_cropper", {
    id: "cropp-image",
    src: url_for(@image.blob),
    alt_text: @image.alt_text,
    crop_x: @image.crop_x,
    crop_y: @image.crop_y,
    crop_width: @image.crop_width,
    crop_height: @image.crop_height
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Crop image",
    margin_bottom: true
  } %>
<% end %>
