@import "../../../node_modules/govuk-frontend/core/links";
@import "../../../node_modules/govuk-frontend/core/typography";

.gem-c-success-alert__message {
  margin: 0;
}

.gem-c-textarea {
  max-width: 100%;
}

.govuk-select[multiple] {
  height: 100%;
}

.govuk-link {
  @extend %govuk-link;
  @extend %govuk-body-m;
  margin: 0;
  padding: 0;
  border: 0;
  color: $govuk-link-colour;
  background: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.govuk-table {
  .gem-c-document-list__item {
    margin: 0;
    padding: 0;
  }

  .gem-c-document-list__item-title {
    @extend %govuk-link;
    font-weight: normal;
  }

  .gem-c-document-list__attribute {
    font-size: 16px;
  }
}

.govuk-table--sortable {
  .govuk-table__header--active {
    .app-table__sort-link {
      white-space: nowrap;
    }
  }
}

.govuk-footer__heading {
  @include govuk-visually-hidden;
}
