@import "govuk-frontend/core/links";
@import "govuk-frontend/core/typography";

.gem-c-success-alert__message {
  margin: 0;
}

.gem-c-textarea {
  max-width: 100%;
}

.govuk-select[multiple] {
  height: 100%;
}

.govuk-link {
  @extend %govuk-link;
  @extend %govuk-body-m;
  margin: 0;
  padding: 0;
  border: 0;
  color: $govuk-link-colour;
  background: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.govuk-table {
  .gem-c-document-list__item {
    margin: 0;
    padding: 0;
  }

  .gem-c-document-list__item-title {
    @extend %govuk-link;
    font-weight: normal;
  }

  .gem-c-document-list__attribute {
    @include govuk-font(16);
  }

  .govuk-table__body {
    .govuk-table__cell {
      @include govuk-font(16);
      max-width: 150px;

      &:nth-of-type(1) {
        max-width: none;
      }
    }
  }
}

.govuk-table--sortable {
  .govuk-table__header--active {
    .app-table__sort-link {
      white-space: nowrap;
    }
  }
}

.govuk-footer__heading {
  @include govuk-visually-hidden;
}

.govuk-select {
  width: 100%;
}

.gem-c-phase-banner {
  .gem-c-phase-banner__banner-item {
    display: inline-block;
    margin-right: govuk-spacing(4);
  }

  .govuk-link {
    font-size: inherit;
  }
}

.govuk-grid-column-one-third,
.govuk-grid-column-two-thirds {
  position: relative;
}

.app-selected-topics {
  .govuk-breadcrumbs {
    @include govuk-font(19);
  }
}
