<% content_for :back_link, render_back_link(href: document_path(@document)) %>
<% content_for :title, t("withdraw_document.withdraw.title", title: @document.title) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  </div>
</div>
