<%
  current_schedule_datetime = @edition.scheduled_publishing_datetime
  default_datetime = Time.current.tomorrow.change(hour: 9)
  publish_datetime = current_schedule_datetime || default_datetime
  persistent_time = publish_datetime.strftime("%-l:%M%P")
  selected_time = params.dig(:schedule, :time) || persistent_time
%>

<% legend = capture do %>
  <span class="govuk-heading-s govuk-!-margin-bottom-0">
    <%= t("schedule.edit.date") %>
  </span>
<% end %>

<%= render "govuk_publishing_components/components/date_input", {
  legend_text: legend,
  name: "schedule[date]",
  hint: t("schedule.edit.date_hint_text"),
  id: "date",
  error_items: @issues&.items_for(:schedule_date),
  items: [
    {
      name: "day",
      width: 2,
      value: params.dig(:schedule, :date, :day) || publish_datetime.day,
    },
    {
      name: "month",
      width: 2,
      value: params.dig(:schedule, :date, :month) || publish_datetime.month,
    },
    {
      name: "year",
      width: 4,
      value: params.dig(:schedule, :date, :year) || publish_datetime.year,
    }
  ]
} %>


<%= render "components/autocomplete", {
  id: "time",
  name: "schedule[time]",
  label: {
    text: t("schedule.edit.time"),
    bold: true,
  },
  error_items: @issues&.items_for(:schedule_time),
  options: time_options(persistent_time),
  selected_options: [persistent_time],
  data_attributes: {
    initial_value: selected_time,
  },
  type: "without-narrowing-results",
  size: 5,
  width: "narrow",
} %>
