<% content_for :back_link, render_back_link(text: "Return to dashboard", href: document_path(@edition.document)) %>
<% content_for :browser_title, t("schedule.scheduled.title") %>

<% scheduling = @edition.status.details %>
<% time = format_time(scheduling.publish_time) %>
<% date = format_date(scheduling.publish_time) %>
<% public_url = edition_public_url(@edition) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/panel", {
      title: t("schedule.scheduled.title")
    } %>

    <%= render_govspeak(t("schedule.scheduled.body_govspeak", title: @edition.title, time: time, date: date)) %>

    <%= render "govuk_publishing_components/components/inset_text", {
      text: link_to(strip_scheme_from_url(public_url), public_url,
      class: "govuk-link govuk-link--no-visited-state",
      data: { gtm: "view-scheduled-edition" })
    } %>
  </div>
</div>
