.app-side__wrapper {
  @include govuk-media-query($from: tablet) {
    position: absolute;
    width: calc(100% - #{govuk-spacing(6)});
  }
}

.app-side {
  @include govuk-responsive-margin(6, "bottom");
  @include govuk-clearfix;

  padding: govuk-spacing(3);
  background: govuk-colour("light-grey");
}

.app-side__actions {
  .govuk-button {
    width: 100%;
    margin-bottom: govuk-spacing(3);
  }

  > .govuk-button:last-child {
    margin-bottom: 0;
  }

  > .app-side__form:last-child .govuk-button {
    margin-bottom: 0;
  }

  .govuk-section-break {
    clear: both;
  }

  .govuk-details__text {
    padding: govuk-spacing(3);
  }

  .govuk-link {
    @include govuk-font(19);
  }
}
