<h3 class="govuk-heading-s"><%= attachment.title %></h3>
<dl>
  <dt class="govuk-body">Attachment markdown:</dt>
  <dd class="govuk-body"><%= t("attachments.index.attachment_markdown", filename: attachment.filename) %></dd>
  <dt class="govuk-body">Attachment link markdown:</dt>
  <dd class="govuk-body"><%= t("attachments.index.attachment_link_markdown", filename: attachment.filename) %></dd>
</dl>
