<% content_for :back_link, edit_document_path(@document) %>
<% content_for :browser_title, t("document_contacts.search.title") %>

<%
  contact_options = @contacts_by_organisation.flat_map do |org|
    org["contacts"].map do |contact|
      ["#{contact['title']} - #{org['name']}", contact["content_id"]]
    end
  end
%>

<%= form_tag(insert_document_contact_path(@document)) do %>
  <%= render "components/autocomplete", {
    name: "contact_id",
    label: {
      text: %{<h1 class="govuk-heading-l">#{t("document_contacts.search.title")}</h1>}.html_safe,
    },
    options: ["", ""] + contact_options,
    data: {
      module: "autocomplete",
    }
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Insert contact", margin_bottom: true
  } %>
<% end %>

