<% content_for :back_link, document_path(@document) %>
<% content_for :title, t("document_topics.edit.title", title: @document.title_or_fallback) %>

<% def unroll(topic) %>
  <% capture do %>
    <li>
      <%= @topic_index[topic][:title] %>

      <% if @topic_index[topic][:children].any? %>
        <ul>
          <% @topic_index[topic][:children].each do |child_topic| %>
            <%= unroll(child_topic) %>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
<% end %>

<ul>
  <% @topic_index[TopicsService::GOVUK_HOMEPAGE_CONTENT_ID][:children].each do |topic| %>
    <%= unroll(topic) %>
  <% end %>
</ul>
