<% content_for :back_link, document_path(@document) %>
<% content_for :title, t("document_topics.edit.title", title: @document.title_or_fallback) %>

<% def unroll(topic) %>
  <% capture do %>
    <li>
      <%= topic[:title] %>

      <ul>
        <% topic[:children].each do |child_topic| %>
          <%= unroll(child_topic) %>
        <% end %>
      </ul>
    </li>
  <% end %>
<% end %>

<ul>
  <% @tree.each do |topic| %>
    <%= unroll(topic) %>
  <% end %>
</ul>
