<% actions = [] %>

<% actions << link_to(
  "Insert attachment",
  file_attachment_path(document, attachment.file_attachment)
) %>

<% actions << capture do %>
  <%= form_tag(
    destroy_file_attachment_path(document, attachment.file_attachment_id),
    method: :delete,
    class: "app-inline-block"
  ) do %>
    <button class="govuk-link app-link--button app-link--destructive">Delete attachment</button>
  <% end %>
<% end %>

<%= render "components/attachment_meta", {
  id: "file-attachment-#{attachment.file_attachment_id}",
  title: attachment.title,
  url: "#",
  metadata_items: [
    attachment.content_type,
    number_to_human_size(attachment.byte_size),
  ],
  actions: actions
} %>
