<% actions = [] %>

<% actions << link_to(
  "Insert attachment",
  file_attachment_path(document, attachment.file_attachment),
  class: "govuk-link govuk-link--no-visited-state app-link--button",
  data: {
    "modal-action": "insert",
    gtm: "insert-attachment",
  },
) %>

<% actions << link_to(
  "Preview",
  preview_file_attachment_path(document, attachment.file_attachment),
  target: :_blank,
  class: "govuk-link govuk-link--no-visited-state app-link--button",
  data: {
    gtm: "preview-attachment"
  }
) %>

<% actions << link_to(
  "Edit file",
  edit_file_attachment_path(document, attachment.file_attachment_id),
  class: "govuk-link govuk-link--no-visited-state app-link--button",
  data: {
    "modal-action": "edit",
    gtm: "edit-attachment",
  },
) %>

<% actions << capture do %>
  <%= form_tag(
    destroy_file_attachment_path(document, attachment.file_attachment_id),
    method: :delete,
    class: "app-inline-block",
    data: {
      "modal-action": "delete",
      gtm: "delete-attachment",
    },
  ) do %>
    <button class="govuk-link app-link--button app-link--destructive">Delete attachment</button>
  <% end %>
<% end %>

<%= render "components/attachment_meta", {
  attachment: file_attachment_attributes(attachment, document),
  actions: actions,
} %>
