<% actions = [] %>

<% actions << link_to(
  "Insert attachment",
  file_attachment_path(document, attachment.file_attachment),
  class: "govuk-link govuk-link--no-visited-state",
) %>

<% actions << link_to(
  "Preview",
  preview_file_attachment_path(document, attachment.file_attachment),
  target: :_blank,
  class: "govuk-link govuk-link--no-visited-state"
) %>

<% actions << capture do %>
  <%= form_tag(
    destroy_file_attachment_path(document, attachment.file_attachment_id),
    method: :delete,
    class: "app-inline-block",
  ) do %>
    <button class="govuk-link app-link--button app-link--destructive">Delete attachment</button>
  <% end %>
<% end %>

<%= render "components/attachment_meta", {
  attachment: file_attachment_in_app_attributes(attachment, document),
  actions: actions,
} %>
