<% content_for :back_link, render_back_link(href: edit_document_path(@edition.document)) %>
<% content_for :title, t("contacts.index.title") %>

<p class="govuk-body">
  <%= t("contacts.index.api_down") %>
</p>
