<% content_for :back_link, render_back_link(href: edit_document_path(@document)) %>
<% content_for :browser_title, t("contacts.search.title") %>

<%
  contact_options = @contacts_by_organisation.flat_map do |org|
    org["contacts"].map do |contact|
      [contact['title'], contact["content_id"], {"data-hint": org['name']}]
    end
  end
%>

<%= form_tag(
  insert_contact_path(@document),
  data: { gtm: "insert-contact-submit" },
) do %>
  <%= render "components/autocomplete", {
    name: "contact_id",
    label: {
      text: %{<h1 class="govuk-heading-l">#{t("contacts.search.title")}</h1>}.html_safe,
    },
    id: "contact-id",
    options: ["", ""] + contact_options,
    data_module: "autocomplete-with-hint-on-options",
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Insert contact", margin_bottom: true
  } %>
<% end %>
