<% content_for :back_link, render_back_link(href: document_path(@document)) %>
<% content_for :title, t("contacts.search.title") %>

<p class="govuk-body">
  <%= t("contacts.search.api_down") %>
</p>

