<h4 class="govuk-heading-s govuk-!-margin-bottom-1">
  <%= t "documents.history.entry_types.whitehall_migration.#{entry.details.entry_type}" %>
</h4>

<div class="app-timeline-entry__dateline">
  <%= format_date_at_time(entry.created_at) %>
  <% if entry.created_by %>
    by <%= name_or_fallback(entry.created_by) %>
  <% end %>
</div>
