<% content_for :title, t("documents.forbidden.title") %>

<div class="govuk-body" data-gtm="access-limit-forbidden" data-gtm-visibility-tracking="true">
  <%= t("documents.forbidden.description") %>
</div>

<div class="govuk-body">
  <% begin %>
    <% primary_org = LinkablesService.new("organisation")
      .by_content_id(@edition.primary_publishing_organisation_id) %>

    <% if primary_org %>
      <%= t("documents.forbidden.owner",
            primary_org: primary_org.fetch("internal_name")) %>
    <% end %>
  <% rescue GdsApi::BaseError; end %>
</div>
