<% content_for :title, t("pages.documents.index.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/button", {
      text: t("pages.documents.index.actions.new"), href: new_document_path, margin_bottom: true
    } %>

    <%= render "govuk_publishing_components/components/document_list", {
      items: @documents.map do |document|
        {
          link: {
            text: document.title || t("pages.documents.index.search_results.untitled"),
            path: document_path(document),
            description: document.summary,
            context: document.locale
          },
          metadata: {
            public_updated_at: document.updated_at,
            document_type: t("formats.document_types.#{document.document_type}.label")
          }
        }
      end
    } %>
  </div>
</div>
