<% content_for :title, "Documents" %>

<p>
  <%= render "govuk_publishing_components/components/button", {
    text: "New document", href: new_document_path
  } %>
</p>

<%= render "govuk_publishing_components/components/document_list", {
  items: @documents.map do |document|
    {
      link: {
        text: document.title || "No title",
        path: document_path(document),
        description: document.summary,
        context: document.locale
      },
      metadata: {
        public_updated_at: document.updated_at,
        document_type: document.document_type
      }
    }
  end
} %>
