<% content_for :back_link, documents_path %>
<% content_for :title, @document.title || "No title" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render "documents/show/contents" %>

    <h2 class="govuk-header-s">Associations</h2>

    <p class="govuk-body">
      This content isn't available right now. We're having trouble getting the data we need to show you this content.
    </p>

  </div>
  <div class="govuk-grid-column-one-third">

    <%= render "documents/show/actions" %>

  </div>
</div>
