<% content_for :back_link, documents_path %>
<% content_for :title, @document.title || t("documents.show.title_default") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "documents/show/contents" %>

    <% associations = @document.document_type_schema.associations.map { |schema|
      {
        field: schema.label,
        value: capture do
          render "documents/associations/#{schema.type}", schema: schema, values: @document.associations[schema.id]
        end
      }
    } %>

    <%= render "components/summary", {
      title: {
        text: t("documents.show.associations.title"),
        change_url: document_associations_path(@document)
      },
      items: associations
    } %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render "documents/show/actions" %>
  </div>
</div>
