<p>
  <%= render "govuk_publishing_components/components/label", {
    text: schema.label,
    html_for: "associations[#{schema.id}]"
  } %>

<%= tag.select name: "associations[#{schema.id}][]",
  class: "govuk-select",
  multiple: true,
  style: "height: 200px",
  selected: associations[schema.id] do
    options_for_select LinkablesService.new(schema.document_type).select_options
  end %>
</p>
