<% content_for :browser_title, t("access_limit.edit.browser_title") %>
<% content_for :back_link, render_back_link(href: document_path(@edition.document)) %>

<% service = Linkables.new("organisation") %>

<% if @edition.primary_publishing_organisation_id %>
  <% primary_org_id = @edition.primary_publishing_organisation_id %>
  <% primary_org = service.by_content_id(primary_org_id)&.fetch("internal_name") %>
<% end %>

<% supporting_orgs = @edition.supporting_organisation_ids
  .map { |org_id| service.by_content_id(org_id)&.fetch("internal_name") }
  .compact %>

<% tagged_orgs = ([primary_org] + supporting_orgs).compact %>

<% tagged_orgs_ul = capture do %>
  <ul class="govuk-list">
    <% tagged_orgs.each do |org| %>
      <%= tag.li org %>
    <% end %>
  </ul>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag access_limit_path(@edition.document), data: { gtm: "confirm-access-limit" } do %>
      <%= render "govuk_publishing_components/components/radio", {
        heading: t("access_limit.edit.title"),
        is_page_heading: true,
        description: t("access_limit.edit.description"),
        name: "limit_type",
        error_items: @issues&.items_for(:access_limit),
        items: [
          {
            value: "none",
            text: t("access_limit.edit.no_access_limit"),
            checked: @edition.access_limit.nil?,
            data_attributes: {
              gtm: "choose-access-limit",
              "gtm-value": t("access_limit.edit.no_access_limit")
            }
          },
          {
            value: "primary_organisation",
            text: t("access_limit.edit.type.primary_organisation"),
            checked: @edition.access_limit&.primary_organisation?,
            data_attributes: {
              gtm: "choose-access-limit",
              "gtm-value": t("access_limit.edit.type.primary_organisation")
            },
            hint_text: primary_org
          },
          {
            value: "tagged_organisations",
            text: t("access_limit.edit.type.tagged_organisations"),
            checked: @edition.access_limit&.tagged_organisations?,
            data_attributes: {
              gtm: "choose-access-limit",
              "gtm-value": t("access_limit.edit.type.tagged_organisations")
            },
            hint_text: tagged_orgs.any? && tagged_orgs_ul
          }
        ]
      } %>

      <%= render "govuk_publishing_components/components/button", { text: "Save" } %>
    <% end %>
  </div>
</div>
