.app-c-attachment-meta:last-child {
  border-bottom: 0;
}

.app-c-attachment-meta__actions {
  margin: 0;
  padding: 0;
  clear: both;

  li {
    display: inline-block;
    margin-right: govuk-spacing(3);
    margin-bottom: govuk-spacing(1);
  }

  .govuk-link {
    margin-bottom: 0;
  }
}
