@import "vendor/accessible-autocomplete/dist/accessible-autocomplete.min";

.autocomplete__wrapper {
  background: govuk-colour("white");
}

.autocomplete__input {
  @include govuk-font(19);
  z-index: 1;
  color: $govuk-text-colour;
}

.autocomplete__hint {
  @include govuk-font(19);
  z-index: 1;
  color: $govuk-secondary-text-colour;
}

.autocomplete__dropdown-arrow-down {
  z-index: 0;
}

.autocomplete__option,
.autocomplete__selected-option {
  @include govuk-font(19);
  color: $govuk-text-colour;
}

.autocomplete__list {
  margin-top: govuk-spacing(3);
}

.autocomplete__list .autocomplete__option,
.autocomplete__list .autocomplete__option:hover {
  padding: 5px 6px;

  &:before {
    position: relative;
    top: 3px;
    padding-top: 2px;
  }
}

.autocomplete__list .autocomplete__remove-option {
  @include govuk-font(16);
}

.autocomplete__option-hint {
  display: block;
  @include govuk-font(16);
  color: $govuk-secondary-text-colour;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
  color: govuk-colour("white");

  .autocomplete__option-hint {
    color: govuk-colour("white");
  }
}

.js-enabled {
  .app-c-autocomplete__multiselect-instructions {
    display: none;
  }
}
