@import "govuk-frontend/settings/all";
@import "govuk-frontend/helpers/all";

.app-c-contextual-guidance-wrapper {
  position: absolute;

  @include govuk-font(19);

  @include govuk-responsive-margin(6, "bottom");

  @include govuk-media-query($from: tablet) {
    padding-top: govuk-spacing(6);
  }
}

.js-enabled {
  .app-c-contextual-guidance-wrapper {
    display: none;
  }
}

.app-c-contextual-guidance {
  padding-top: govuk-spacing(5);
  border-top: 5px solid $govuk-focus-colour;
  background: govuk-colour("white");
}
