.app-c-contextual-guidance-wrapper {
  @include govuk-responsive-margin(6, "bottom");

  @include govuk-media-query($from: tablet) {
    padding-top: govuk-spacing(6);
  }
}

.app-c-contextual-guidance {
  padding-top: govuk-spacing(5);
  border-top: 5px solid $govuk-focus-colour;
  background: govuk-colour("white");
}
