.app-c-contextual-guidance-wrapper {
  position: relative;
  padding-top: govuk-spacing(6);
}

.app-c-contextual-guidance {
  position: absolute;
  padding-top: govuk-spacing(5);
  border-top: 5px solid $govuk-focus-colour;
  background: govuk-colour("white");
}
