.app-c-image-with-metadata {
  @include govuk-font(19);

  margin-bottom: govuk-spacing(6);
  padding-bottom: govuk-spacing(6);
  border-bottom: 1px solid $govuk-border-colour;

  .app-c-metadata {
    margin-bottom: govuk-spacing(3);
  }
}

.app-c-image-with-metadata:last-child {
  border-bottom: 0;
}

.app-c-image-with-metadata__image {
  display: block;
  max-width: 100%;
  margin-bottom: govuk-spacing(3);
}
