@import "govuk-frontend/settings/all";
@import "govuk-frontend/helpers/all";
@import "govuk-frontend/objects/grid";
@import "govuk-frontend/utilities/clearfix";

.app-c-image-meta {
  @include govuk-font(19);

  margin-bottom: govuk-spacing(4);
  padding-bottom: govuk-spacing(4);
  border-bottom: 1px solid $govuk-border-colour;

  .app-c-metadata {
    margin-bottom: govuk-spacing(3);
  }
}

.app-c-image-meta--no-border {
  border-bottom: 0;
}

.app-c-image-meta__image {
  display: block;
  max-width: 100%;
  margin-bottom: govuk-spacing(3);
}

.app-c-image-meta__actions {
  margin: 0;
  padding: 0;

  li {
    display: inline;
    margin-right: govuk-spacing(3);
  }
}

.app-c-image-meta__primary-action-section {
  margin-bottom: govuk-spacing(3);
  @include govuk-clearfix;
}

.app-c-image-meta__primary-action-tag {
  margin-right: govuk-spacing(3);
}
