.app-c-inset-prompt {
  @include govuk-text-colour;
  @include govuk-responsive-padding(4);
  @include govuk-responsive-margin(6, "bottom");
  @include govuk-focusable;

  border-left: $govuk-border-width-mobile solid govuk-colour("grey-1");

  @include govuk-media-query($from: tablet) {
    border-left: $govuk-border-width solid govuk-colour("grey-1");
  }

  background-color: govuk-colour("grey-4");
}

.app-c-inset-prompt--error {
  border-color: $govuk-error-colour;
  background-color: govuk-tint($govuk-error-colour, 90%);
}

.app-c-inset-prompt__title {
  @include govuk-font($size: 24, $weight: bold);

  margin-top: 0;
  @include govuk-responsive-margin(4, "bottom");
}

.app-c-inset-prompt__body {
  @include govuk-font($size: 19);

  p {
    margin-top: 0;
    @include govuk-responsive-margin(4, "bottom");

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.app-c-inset-prompt__list {
  margin-top: 0;
  margin-bottom: 0;
}

.app-c-inset-prompt__list a {
  @include govuk-focusable-fill;

  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    color: $govuk-link-colour;
    text-decoration: underline;
  }
}
