.app-c-loading-spinner {
  text-align: center;
  padding: govuk-spacing(8) * 2;

  &:focus {
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }
}

// stylelint-disable declaration-block-single-line-max-declarations
@keyframes app-loading-spinner-opacity-0 {
  0% { opacity: .2501; }
  0.01% { opacity: .25; }
  0.03% { opacity: 1; }
  0.01% { opacity: .25; }
  100% { opacity: .2501; }
}

@keyframes app-loading-spinner-opacity-1 {
  0% { opacity: .3126; }
  8.34333% { opacity: .25; }
  8.36333% { opacity: 1; }
  8.34333% { opacity: .25; }
  100% { opacity: .3126; }
}

@keyframes app-loading-spinner-opacity-2 {
  0% { opacity: .3751; }
  16.6767% { opacity: .25; }
  16.6967% { opacity: 1; }
  16.6767% { opacity: .25; }
  100% { opacity: .3751; }
}

@keyframes app-loading-spinner-opacity-3 {
  0% { opacity: .4376; }
  25.01% { opacity: .25; }
  25.03% { opacity: 1; }
  25.01% { opacity: .25; }
  100% { opacity: .4376; }
}

@keyframes app-loading-spinner-opacity-4 {
  0% { opacity: .5001; }
  33.3433% { opacity: .25; }
  33.3633% { opacity: 1; }
  33.3433% { opacity: .25; }
  100% { opacity: .5001; }
}

@keyframes app-loading-spinner-opacity-5 {
  0% { opacity: .5626; }
  41.6767% { opacity: .25; }
  41.6967% { opacity: 1; }
  41.6767% { opacity: .25; }
  100% { opacity: .5626; }
}

@keyframes app-loading-spinner-opacity-6 {
  0% { opacity: .6251; }
  50.01% { opacity: .25; }
  50.03% { opacity: 1; }
  50.01% { opacity: .25; }
  100% { opacity: .6251; }
}

@keyframes app-loading-spinner-opacity-7 {
  0% { opacity: .6876; }
  58.3433% { opacity: .25; }
  58.3633% { opacity: 1; }
  58.3433% { opacity: .25; }
  100% { opacity: .6876; }
}

@keyframes app-loading-spinner-opacity-8 {
  0% { opacity: .7501; }
  66.6767% { opacity: .25; }
  66.6967% { opacity: 1; }
  66.6767% { opacity: .25; }
  100% { opacity: .7501; }
}

@keyframes app-loading-spinner-opacity-9 {
  0% { opacity: .8126; }
  75.01% { opacity: .25; }
  75.03% { opacity: 1; }
  75.01% { opacity: .25; }
  100% { opacity: .8126; }
}

@keyframes app-loading-spinner-opacity-10 {
  0% { opacity: .8751; }
  83.3433% { opacity: .25; }
  83.3633% { opacity: 1; }
  83.3433% { opacity: .25; }
  100% { opacity: .8751; }
}

@keyframes app-loading-spinner-opacity-11 {
  0% { opacity: .9376; }
  91.6767% { opacity: .25; }
  91.6967% { opacity: 1; }
  91.6767% { opacity: .25; }
  100% { opacity: .9376; }
}
