@import "../../../node_modules/govuk-frontend/helpers/all";
@import "../../../node_modules/govuk-frontend/settings/all";
@import "../../../node_modules/govuk-frontend/tools/all";

.app-c-markdown-editor__preview-toggle {
  @include govuk-font(19);

  display: none;
  margin-bottom: -$govuk-border-width-form-element;
  padding: govuk-spacing(1);
  border: $govuk-border-width-form-element solid $govuk-input-border-colour;
  border-bottom: $govuk-border-width-form-element solid $govuk-border-colour;
  background-color: govuk-colour("grey-3");
}

.app-c-markdown-editor__button {
  @include govuk-font(19);
  padding: 0;
  border: 0;
  color: $govuk-link-colour;
  background: none;
  font: inherit;
  text-decoration: underline;
  cursor: pointer;
}

.app-c-markdown-editor__button--edit {
  display: none;
}

.app-c-markdown-editor__button--preview {
  display: block;
}

.app-c-markdown-editor__input {
  display: block;
}

.app-c-markdown-editor__preview {
  display: none;
  margin-top: 0;

  .govuk-textarea {
    overflow: scroll;
  }
}
