@import "../../../node_modules/govuk-frontend/helpers/all";
@import "../../../node_modules/govuk-frontend/settings/all";
@import "../../../node_modules/govuk-frontend/tools/all";
@import "../../../node_modules/govuk-frontend/core/links";


.app-c-markdown-editor {
  .govuk-textarea {
    padding-top: (govuk-spacing(8) + 50px);
    resize: vertical;
  }
}

.app-c-markdown-editor__container {
  position: relative;
}

.app-c-markdown-editor__head {
  @include govuk-font(19);
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  margin-bottom: -$govuk-border-width-form-element;
  border: $govuk-border-width-form-element solid $govuk-input-border-colour;
  border-bottom: 0;
  background-color: govuk-colour("white");
}

.app-c-markdown-editor__preview-toggle {
  width: 100%;
  border-bottom: $govuk-border-width-form-element solid $govuk-border-colour;
}

.app-c-markdown-editor__button {
  @include govuk-link-common;
  @include govuk-font(19);
  display: inline-block;
  margin-bottom: -$govuk-border-width-form-element;
  padding: (govuk-spacing(1) + $govuk-border-width-form-element) govuk-spacing(4);
  border: $govuk-border-width-form-element solid transparent;
  border-top: 0;
  border-bottom: 0;
  color: $govuk-link-colour;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;

  &:focus {
    border-color: transparent;
    background-color: transparent;
  }
}

.app-c-markdown-editor__button--muted {
  border-right: $govuk-border-width-form-element solid $govuk-border-colour;
  border-left: $govuk-border-width-form-element solid $govuk-border-colour;
  color: $govuk-text-colour;
  background: govuk-colour("grey-4");
  text-decoration: none;

  &:focus {
    background-color: govuk-colour("grey-4");
  }

  &:first-child {
    border-left-color: transparent;
  }
}

.app-c-markdown-editor__input {
  display: block;
}

.app-c-markdown-editor__preview {
  display: none;
  margin-top: 0;
  color: $govuk-text-colour;

  .govuk-textarea {
    overflow: scroll;
    padding-top: govuk-spacing(8);
  }
}

.app-c-markdown-editor__toolbar {
  background-color: govuk-colour("grey-4");
  padding-left: 7px;
  padding-top: 7px;
}

.app-c-markdown-editor-toolbar__button {
  @include govuk-focusable;
  display: inline-block;

  &:hover {
    cursor: pointer;
    background-color: govuk-colour("white");
  }
}

.app-c-markdown-editor-toolbar__icon {
  display: block;
  width: 35px;
  height: 35px;
}

.app-c-markdown-editor-toolbar__icon--heading-2 {
  background-image: image-url("components/markdown-editor/headline_two.svg");
}

.app-c-markdown-editor-toolbar__icon--heading-3 {
  background-image: image-url("components/markdown-editor/headline_three.svg");
}

.app-c-markdown-editor-toolbar__icon--link {
  background-image: image-url("components/markdown-editor/link.svg");
}

.app-c-markdown-editor-toolbar__icon--blockquote {
  background-image: image-url("components/markdown-editor/blockquote.svg");
}

.app-c-markdown-editor-toolbar__icon--numbered-list {
  background-image: image-url("components/markdown-editor/number_list.svg");
}

.app-c-markdown-editor-toolbar__icon--bullets {
  background-image: image-url("components/markdown-editor/bullet_point.svg");
}
