@import "govuk-frontend/helpers/all";
@import "govuk-frontend/settings/all";
@import "govuk-frontend/core/lists";

.app-c-markdown-toolbar {
  @include govuk-font(19);

  .govuk-details {
    margin: 0;
    padding-top: govuk-spacing(2);
    padding-bottom: govuk-spacing(1);
    border-top: 1px solid $govuk-border-colour;

    &:last-child {
      border-bottom: 1px solid $govuk-border-colour;
    }
  }

  .govuk-details__summary {
    display: block;
    font-weight: bold;

    .govuk-details__summary-text {
      text-decoration: none;
    }
  }

  .govuk-details__text {
    padding-right: 0;
    padding-left: 0;
    border-color: transparent;
  }
}

.app-c-markdown-toolbar__list {
  @extend %govuk-list;
}

.app-c-markdown-toolbar__item {
  list-style: none;

  &:before {
    content: "+";
  }

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(1);
  }
}

.app-c-markdown-toolbar__button {
  text-decoration: underline;
  cursor: pointer;
}
