$app-toolbar-button-size: 50px;

.app-c-markdown-editor {
  .govuk-textarea {
    border-top: 0;
    resize: vertical;

    &:focus {
      outline: none;
    }
  }
}

.app-c-markdown-editor__container--focused {
  outline: $govuk-focus-width solid $govuk-focus-colour;
  outline-offset: 0;
}

.app-c-markdown-editor__head {
  @include govuk-font(19);
  display: block;
  border: $govuk-border-width-form-element solid $govuk-input-border-colour;
  border-bottom: 0;
  background-color: govuk-colour("white");
}

.app-c-markdown-editor__preview-toggle {
  width: 100%;
  border-bottom: $govuk-border-width-form-element solid $govuk-border-colour;
  background-color: govuk-colour("light-grey");
}

.app-c-markdown-editor__button {
  @include govuk-link-common;
  @include govuk-font(19);
  display: inline-block;
  margin-bottom: -$govuk-border-width-form-element;
  padding: govuk-spacing(2);
  border: $govuk-border-width-form-element solid transparent;
  border-top: 0;
  border-bottom: 0;
  color: $govuk-link-colour;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    border-color: transparent;
    outline-offset: -$govuk-focus-width;
    background-color: transparent;
  }
}

.app-c-markdown-editor__button--muted {
  border-right: $govuk-border-width-form-element solid $govuk-border-colour;
  border-left: $govuk-border-width-form-element solid $govuk-border-colour;
  color: $govuk-text-colour;
  background: govuk-colour("light-grey");
  text-decoration: none;

  &:focus {
    background-color: govuk-colour("light-grey");
  }

  &:first-child {
    border-left-color: transparent;
  }
}

.app-c-markdown-editor__input {
  display: block;
}

.app-c-markdown-editor__preview {
  display: none;
  margin-top: 0;
  color: $govuk-text-colour;

  .govuk-textarea {
    padding: govuk-spacing(6);
    overflow: scroll;
    background-color: govuk-colour("light-grey");
  }

  .govuk-govspeak {
    .image {
      margin: 0;
    }
  }
}

.app-c-markdown-editor__toolbar {
  background-color: govuk-colour("light-grey");
  line-height: 0;
}

.app-c-markdown-editor__toolbar-group {
  display: table;
  width: 100%;
}

.app-c-markdown-editor__toolbar-button {
  display: inline-block;
  width: $app-toolbar-button-size;
  height: $app-toolbar-button-size;
  background: none;

  &:focus {
    outline-offset: -$govuk-focus-width;
    @include govuk-focused-text;
  }

  &:hover {
    background-color: govuk-colour("light-grey");
    cursor: pointer;
  }
}

.app-c-markdown-editor__toolbar-icon {
  display: inline-block;
  background: inherit;
  fill: currentColor;
  pointer-events: none;
}

.app-c-markdown-editor__toolbar-button--text {
  @include govuk-font($size: 16, $weight: bold);
  width: auto;
  padding: govuk-spacing(3);
  border: 0;
  border-left: 4px solid govuk-colour("white");
  background: transparent;
  vertical-align: top;
}

.app-c-markdown-editor__toolbar-button--end {
  float: right;
}
