@import url(asset-path("miller-columns-element/dist/miller-columns.css"));

.miller-columns__item {
  .govuk-checkboxes__item {
    float: none;
  }

  .govuk-checkboxes__label {
    padding: 13px 15px 10px 0;
  }

  // Remove box-shadow set in govuk-frontend for govuk-checkboxes__input
  // as we rely on the parent element miller-columns__item to show the target area on hover
  .govuk-checkboxes__item:hover .govuk-checkboxes__input:focus + .govuk-checkboxes__label::before,
  .govuk-checkboxes__item:hover .govuk-checkboxes__input:not(:disabled) + .govuk-checkboxes__label::before {
    box-shadow: none;
  }
}

.miller-columns__item--parent:after {
  margin-top: -15px;
}
