.app-c-side-navigation {
  @include govuk-responsive-margin(6, "bottom");

  .app-c-side-navigation__list {
    @extend %govuk-list;
  }

  .app-c-side-navigation__list-item {
    @include govuk-font(16);
    padding: govuk-spacing(2) 0;
    border-bottom: 1px solid govuk-colour("light-grey");

    .govuk-link {
      font-size: inherit;
      text-decoration: none;
    }
  }

  .app-c-side-navigation__list-item--current {
    .govuk-link {
      @include govuk-font($size: 16, $weight: bold);
      color: govuk-colour("black");
    }
  }

}
