@import "govuk-frontend/helpers/all";
@import "govuk-frontend/settings/all";
@import "govuk-frontend/core/lists";

.app-c-side-nav {
  .govuk-list-item {
    border-bottom: 1px solid govuk-colour('grey-3');
    @include govuk-font(16);
  }

  .govuk-link {
    font-size: inherit;
    text-decoration: none;
  }
}
