// Recommended styles from the check your answers pattern
// https://design-system.service.gov.uk/patterns/check-answers/

@import "../../../node_modules/govuk-frontend/helpers/all";
@import "../../../node_modules/govuk-frontend/settings/all";
@import "../../../node_modules/govuk-frontend/tools/all";
@import "../../../node_modules/govuk-frontend/core/links";

.app-c-summary {
  @include govuk-font(19);
  position: relative;
}

.app-c-summary__change-link {
  @extend %govuk-link;
}

.app-c-summary__change-section-link {
  @extend %govuk-link;

  position: absolute;
  top: 0;
  right: 0;
}

.app-c-summary__block {
  @include govuk-responsive-margin(9, "bottom");
}

.app-c-summary__list {
  @include govuk-font(19);

  margin-top: 0;

  @include govuk-responsive-margin(9, "bottom");

  @include govuk-media-query($from: desktop) {
    display: table;
  }
}

.app-c-summary__list--short {
  @include govuk-media-query($from: desktop) {
    // to make group of q&a line up horizontally (unless there is just one group)
    width: 100%;

    // recommended for mostly short questions
    .app-c-summary__question {
      width: 30%;
    }
  }
}

.app-c-summary__list--long {
  @include govuk-media-query($from: desktop) {
    // to make group of q&a line up horizontally (unless there is just one group)
    width: 100%;

    // recommended for mostly long questions
    .app-c-summary__question {
      width: 50%;
    }
  }
}

.app-c-summary__contents {
  position: relative;
  border-bottom: 1px solid $govuk-border-colour;

  @include govuk-media-query($from: desktop) {
    display: table-row;
    border-bottom-width: 0;
  }
}

.app-c-summary__contents:first-child .app-c-summary__question,
.app-c-summary__contents:first-child .app-c-summary__answer,
.app-c-summary__contents:first-child .app-c-summary__change {
  @include govuk-media-query($from: desktop) {
    padding-top: 0;
  }
}

.app-c-summary__question,
.app-c-summary__answer,
.app-c-summary__change {
  display: block;
  margin: 0;

  @include govuk-media-query($from: desktop) {
    display: table-cell;
    padding: govuk-em(12, 19) govuk-em(20, 19) govuk-em(9, 19) 0;
    border-bottom: 1px solid $govuk-border-colour;
  }
}

.app-c-summary__question {
  margin: govuk-em(12, 19) 4em govuk-em(4, 19) 0;
  font-weight: bold;
  vertical-align: top;
  // using margin instead of padding because of easier absolutely positioning of .app-c-summary__change
}

.app-c-summary__answer {
  padding-bottom: govuk-em(9, 19);
}

.app-c-summary__change {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;

  @include govuk-media-query($from: desktop) {
    position: static;
    padding-right: 0;
  }
}
