$govuk-notice-border-color: govuk-colour("grey-1");
$govuk-notice-background-color: govuk-colour("grey-4");

.app-c-warning-summary {
  @include govuk-text-colour;
  @include govuk-responsive-padding(4);
  @include govuk-responsive-margin(6, "bottom");
  @include govuk-focusable;

  border-left: $govuk-border-width-mobile solid $govuk-notice-border-color;

  @include govuk-media-query($from: tablet) {
    border-left: $govuk-border-width solid $govuk-notice-border-color;
  }

  background-color: $govuk-notice-background-color;
}

.app-c-warning-summary__title {
  @include govuk-font($size: 24, $weight: bold);

  margin-top: 0;
  @include govuk-responsive-margin(4, "bottom");
}

.app-c-warning-summary__body {
  @include govuk-font($size: 19);

  p {
    margin-top: 0;
    @include govuk-responsive-margin(4, "bottom");

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.app-c-warning-summary__list {
  margin-top: 0;
  margin-bottom: 0;
}

.app-c-warning-summary__list a {
  @include govuk-focusable-fill;

  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    color: $govuk-link-colour;
    text-decoration: underline;
  }
}
