<ul>
  <% ContentValidator.new(@document).validation_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>

<%= render "components/summary", {
  title: {
    text: t("pages.documents.show.format.title")
  },
  items: [
    {
      field: t("pages.documents.show.format.items.document_type"),
      value: @document.document_type_schema.label
    }
  ]
} %>

<% contents = @document.document_type_schema.contents.map { |schema|
  {
    field: schema.label,
    value: capture do
      render "documents/fields/#{schema.type}", schema: schema, document: @document
    end
  }
} %>

<%= render "components/summary", {
  title: {
    text: t("pages.documents.show.contents.title"),
    change_url: edit_document_path(@document)
  },
  items: [
    {
      field: t("pages.documents.show.contents.items.title"),
      value: @document.title
    },
    {
      field: t("pages.documents.show.contents.items.base_path"),
      value: @document.base_path
    },
    {
      field: t("pages.documents.show.contents.items.summary"),
      value: @document.summary
    }
  ] + contents
} %>
