<% if @edition.withdrawn? %>
  <% metadata = [
      field: t("documents.show.metadata.withdrawn_by"),
      value: name_or_fallback(@edition.status.created_by)
  ] %>
<% else %>
  <% metadata = [
    {
      field: t("documents.show.metadata.created_at"),
      value: format_time_on_date(@edition.document.created_at)
    },
    {
      field: t("documents.show.metadata.created_by"),
      value: name_or_fallback(@edition.document.created_by)
    },
    {
      field: t("documents.show.metadata.last_edited_by"),
      value: name_or_fallback(@edition.last_edited_by)
    }
  ] %>
<% end %>

<div class="app-side">
  <%= render "components/metadata", {
    items: [
      {
        field: t("documents.show.metadata.status"),
        value: t("user_facing_states.#{@edition.state}.name")
      },
      {
        field: t("documents.show.metadata.updated_at"),
        value: format_time_on_date(@edition.last_edited_at)
      },
    ] + metadata
  } %>
</div>
