<% if @edition.withdrawn? %>
  <% metadata = [
      field: t("documents.show.metadata.withdrawn_by"),
      value: name_or_fallback(@edition.status.created_by)
  ] %>
<% else %>
  <% metadata = [
    {
      field: t("documents.show.metadata.created_at"),
      value: @edition.document.created_at.strftime("%l:%M%P on %d %B %Y")
    },
    {
      field: t("documents.show.metadata.created_by"),
      value: name_or_fallback(@edition.document.created_by)
    },
    {
      field: t("documents.show.metadata.last_edited_by"),
      value: name_or_fallback(@edition.last_edited_by)
    }
  ] %>
<% end %>

<div class="app-side">
  <%= render "components/metadata", {
    data_attributes: {
      "gtm-document-type": @edition.document_type.label,
      "gtm-document-status": t("user_facing_states.#{@edition.state}.name")
    },
    items: [
      {
        field: t("documents.show.metadata.status"),
        value: t("user_facing_states.#{@edition.state}.name")
      },
      {
        field: t("documents.show.metadata.updated_at"),
        value: @edition.last_edited_at.strftime("%l:%M%P on %d %B %Y")
      },
    ] + metadata
  } %>
</div>
