<ul class="govuk-list govuk-!-margin-0">
  <li>
    <%= link_to "View on GOV.UK", edition_public_url(@edition.document.live_edition),
                class: "govuk-link govuk-link--no-visited-state",
                data: { gtm: "view-on-govuk" } %>
  </li>

  <% if @edition.document.live_edition %>
    <li>
      <%= link_to "View data about this page",
                  content_data_url(@edition.document),
                  target: "_blank",
                  class: "govuk-link govuk-link--no-visited-state",
                  data: { gtm: "content-data-app-clickthrough" } %>
    </li>
  <% end %>
</ul>
