<% errors = PublishingRequirements.new(@document).errors.values.flatten %>

<% if errors.any? %>
  <% if flash[:tried_to_publish] %>
    <div class="govuk-!-margin-bottom-4">
      <%= render "govuk_publishing_components/components/error_summary", {
        title: t("documents.show.flashes.after_publishing_attempt"),
        items: errors
      } %>
    </div>
  <% else %>
    <%= render "/components/notice", {
      title: t("documents.show.flashes.before_publishing_attempt"),
      items: errors
    } %>
  <% end %>
<% end %>
