<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render "documents/show/contents" %>

    <% tags = @document.document_type_schema.tags.map { |schema|
      {
        field: schema.label,
        value: render("documents/tags/#{schema.type}", schema: schema, values: @document.tags[schema.id]),
      }
    } %>

    <%= render "components/summary", {
      title: {
        text: t("documents.show.tags.title"),
        change_url: document_tags_path(@document)
      },
      items: tags
    } %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render "documents/show/actions" %>
    <%= render "documents/show/document_metadata" %>
  </div>
</div>
