<% begin %>
  <% breadcrumbs = capture do %>
    <% if @edition.topics.any? %>
      <ul class="app-selected-topics govuk-list">
        <% @edition.topics.each do |topic| %>
          <li>
            <%= render "govuk_publishing_components/components/breadcrumbs", {
                breadcrumbs: topic.breadcrumb.map { |crumb_topic| { title: crumb_topic.title } }
            } %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <%= t("documents.show.topics.no_topics") %>
    <% end %>
  <% end %>

  <%= render "govuk_publishing_components/components/summary_list", {
    id: "topics",
    title: t("documents.show.topics.title"),
    borderless: true,
    edit: {
      href: topics_path(@edition.document),
      data_attributes: { gtm: "edit-topics" },
    },
    block: breadcrumbs
  } %>
<% rescue GdsApi::BaseError => e %>
  <% GovukError.notify(e) %>

  <%= render "govuk_publishing_components/components/summary_list", {
    id: "topics",
    title: t("documents.show.topics.title"),
    borderless: true,
    block: t("documents.show.topics.api_down")
  } %>
<% end %>
