<% begin %>
  <% breadcrumbs = capture do %>
    <% if @document.topics.any? %>
      <ul class="app-selected-topics govuk-list">
        <% @document.topics.each do |topic| %>
          <li>
            <%= render "govuk_publishing_components/components/breadcrumbs", {
                breadcrumbs: topic.breadcrumb.map { |crumb_topic| { title: crumb_topic.title } }
            } %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <%= t("documents.show.topics.no_topics") %>
    <% end %>
  <% end %>

  <%= render "components/summary", {
    id: "topics",
    title: {
      text: t("documents.show.topics.title"),
      change_url: topics_path(@document)
    },
    block: breadcrumbs
  } %>
<% rescue GdsApi::BaseError => e %>
  <% GovukError.notify(e) %>

  <%= render "components/summary", {
    id: "topics",
    title: {
      text: t("documents.show.topics.title")
    },
    block: t("documents.show.topics.api_down")
  } %>
<% end %>
