<% begin %>
  <% service = TopicsService.new %>
  <% topic_content_ids, _version = service.topics_for_document(@document) %>

  <% breadcrumbs = capture do %>
    <% if topic_content_ids.any? %>
      <div class="topic-breadcrumb">
        <% topic_content_ids.each do |topic_content_id| %>
          <ol>
            <% service.topic_breadcrumb(topic_content_id).reverse.each do |crumb| %>
              <li><%= crumb[:title] %></li>
            <% end %>
          </ol>
        <% end %>
      </div>
    <% else %>
      <%= t("documents.show.topics.no_topics") %>
    <% end %>
  <% end %>

  <%= render "components/summary", {
    id: "topics",
    title: {
      text: t("documents.show.topics.title"),
      change_url: document_topics_path(@document)
    },
    block: breadcrumbs
  } %>
<% rescue GdsApi::BaseError => e %>
  <% Rails.logger.error(e) %>

  <%= render "components/summary", {
    id: "topics",
    title: {
      text: t("documents.show.topics.title")
    },
    block: t("documents.show.topics.api_down")
  } %>
<% end %>
