<% begin %>
  <% breadcrumbs = capture do %>
    <% if @document.topics.any? %>
      <div class="topic-breadcrumb-trail">
        <% @document.topics.each do |topic| %>
          <ol class="govuk-breadcrumbs__list">
            <% topic.breadcrumb.each do |crumb_topic| %>
              <li class="govuk-breadcrumbs__list-item" aria-current="false">
                <%= crumb_topic.title %>
              </li>
            <% end %>
          </ol>
        <% end %>
      </div>
    <% else %>
      <%= t("documents.show.topics.no_topics") %>
    <% end %>
  <% end %>

  <%= render "components/summary", {
    id: "topics",
    title: {
      text: t("documents.show.topics.title"),
      change_url: document_topics_path(@document)
    },
    block: breadcrumbs
  } %>
<% rescue GdsApi::BaseError => e %>
  <% Rails.logger.error(e) %>

  <%= render "components/summary", {
    id: "topics",
    title: {
      text: t("documents.show.topics.title")
    },
    block: t("documents.show.topics.api_down")
  } %>
<% end %>
