<% actions = [] %>

<% actions << link_to("Edit details", edit_image_path(document, image.image_id),
                      class: "govuk-link",
                      data: { "modal-action": "edit", gtm: "edit-image" }) %>

<% actions << link_to("Crop image", crop_image_path(document, image.image_id),
                      class: "govuk-link",
                      data: { "modal-action": "edit", gtm: "crop-image" }) %>

<% if rendering_context == "modal" %>
  <% actions << link_to("Insert image markdown", "#",
                        data: {
                          "modal-action": "insert",
                          "modal-data": I18n.t("images.index.meta.inline_code.value", filename: image.filename),
                          gtm: "insert-image-markdown"
                        },
                        class: "govuk-link govuk-link--no-visited-state") %>
<% else %>
  <% actions << capture do %>
    <%= form_tag choose_lead_image_path(document, image.image_id),
                 class: "app-inline-block",
                 data: { gtm: "select-lead-image" } do %>
      <button class="govuk-link app-link--button">Select as lead image</button>
    <% end %>
  <% end %>

<% end %>

<% actions << capture do %>
  <%= form_tag(
    destroy_image_path(document, image.image_id),
    method: :delete,
    data: {
      "modal-action": "delete",
      gtm: "delete-image"
    },
    class: "app-inline-block"
  ) do %>
    <button class="govuk-link app-link--button app-link--destructive">Delete image</button>
  <% end %>
<% end %>

<% metadata_items = [
  {
    field: t("images.index.meta.alt_text"),
    value: image.alt_text,
  },
  {
    field: t("images.index.meta.caption"),
    value: image.caption,
  },
  {
    field: t("images.index.meta.credit"),
    value: image.credit,
  },
  {
    field: t("images.index.meta.inline_code.label"),
    value: I18n.t("images.index.meta.inline_code.value", filename: image.filename),
  },
] %>

<%= render "components/image_meta", {
  id: "image-#{image.image_id}",
  src: url_for(image.thumbnail),
  alt_text: image.alt_text,
  actions: actions,
  metadata_items: metadata_items,
} %>
