<% images = @document.current_edition.image_revisions_without_lead %>
<% if images.any? %>
  <h2 class="govuk-heading-m">
    <%= t("images.index.other_images") %>
  </h2>

  <% images.each_with_index do |image, i| %>
    <% actions = [] %>

    <% actions << link_to("Edit crop", crop_image_path(@document, image.image_id), class: "govuk-link") %>
    <% actions << link_to("Edit details", edit_image_path(@document, image.image_id), class: "govuk-link") %>
    <% actions << link_to('Download 960x640 image', download_image_path(@document, image.image_id), class: "govuk-link") %>

    <% actions << capture do %>
      <%= form_tag choose_lead_image_path(@document, image.image_id), class: "app-inline-block" do %>
        <button class="govuk-link">Select as lead image</button>
      <% end %>
    <% end %>

    <% actions << capture do %>
      <%= form_tag destroy_image_path(@document, image.image_id), method: :delete, class: "app-inline-block" do %>
        <button class="govuk-link app-link--destructive">Delete image</button>
      <% end %>
    <% end %>

    <%= render "components/image_meta", {
      id: "image-#{image.image_id}",
      src: url_for(image.thumbnail),
      no_border: i == images.length - 1,
      meta: {
        alt_text: image.alt_text,
        caption: image.caption,
        credit: image.credit
      },
      actions: actions
    } %>
  <% end %>
<% end %>
