<% actions = [] %>

<% actions << link_to("Edit crop", crop_image_path(document, image.image_id), class: "govuk-link") %>
<% actions << link_to("Edit details", edit_image_path(document, image.image_id), class: "govuk-link") %>
<% actions << link_to("Download 960x640 image", download_image_path(document, image.image_id), class: "govuk-link") %>

<% actions << capture do %>
  <%= form_tag choose_lead_image_path(document, image.image_id), class: "app-inline-block" do %>
    <button class="govuk-link app-link--button">Select as lead image</button>
  <% end %>
<% end %>

<% actions << capture do %>
  <%= form_tag destroy_image_path(document, image.image_id), method: :delete, class: "app-inline-block" do %>
    <button class="govuk-link app-link--button app-link--destructive">Delete image</button>
  <% end %>
<% end %>

<% metadata_items = [
  {
    field: t("images.index.meta.alt_text"),
    value: image.alt_text,
  },
  {
    field: t("images.index.meta.caption"),
    value: image.caption,
  },
  {
    field: t("images.index.meta.credit"),
    value: image.credit,
  },
] %>

<% if current_user.permissions.include?(User::PRE_RELEASE_FEATURES_PERMISSION) %>
  <% metadata_items << {
    field: t("images.index.meta.inline_code.label"),
    value: I18n.t("images.index.meta.inline_code.value", filename: image.filename),
  } %>
<% end %>

<%= render "components/image_meta", {
  id: "image-#{image.image_id}",
  src: url_for(image.thumbnail),
  alt_text: image.alt_text,
  actions: actions,
  metadata_items: metadata_items,
} %>
