<h2 class="govuk-heading-m">
  <%= t("images.index.lead_image") %>
</h2>

<% actions = [] %>
<% actions << link_to("Download 960x640 image", download_image_path(document, lead_image.image_id), class: "govuk-link") %>

<% unless rendering_context == "modal" %>
  <% actions << link_to("Edit image", crop_image_path(document, lead_image.image_id), class: "govuk-link") %>

  <% actions << capture do %>
    <%= form_tag remove_lead_image_path(document), method: :delete, class: "app-inline-block" do %>
      <button class="govuk-link app-link--button">Remove lead image</button>
    <% end %>
  <% end %>

  <% actions << capture do %>
    <%= form_tag destroy_image_path(document, lead_image.image_id), method: :delete, class: "app-inline-block" do %>
      <button class="govuk-link app-link--button app-link--destructive">Delete lead image</button>
    <% end %>
  <% end %>
<% end %>

<%= render "components/image_meta", {
  id: "image-#{lead_image.id}",
  src: url_for(lead_image.thumbnail),
  alt_text: lead_image.alt_text,
  actions: actions,
  metadata_items: [
    {
      field: t("images.index.meta.alt_text"),
      value: lead_image.alt_text,
    },
    {
      field: t("images.index.meta.caption"),
      value: lead_image.caption,
    },
    {
      field: t("images.index.meta.credit"),
      value: lead_image.credit,
    }
  ]
} %>
