<% content_for :title, t("images.confirm_delete.title", title: @image_revision.filename) %>
<% content_for :back_link, render_back_link(href: images_path(@edition.document, @image_revision.image_id), data_attributes: { "modal-action": "back" }) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag(
      destroy_image_path(@edition.document, @image_revision.image_id),
      method: :delete,
      multipart: true,  
      data: {
        "modal-action": "confirmDelete",
        gtm: "confirm-delete-image"
      },
    ) do %>
      <%= render_govspeak(t("images.confirm_delete.description_govspeak")) %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Yes, delete image",
        destructive: true,
        margin_bottom: true,
      } %>

      <div class="govuk-body">
        <%= link_to "Cancel",
          images_path(@edition.document, @image_revision.image_id),
          class: "govuk-link govuk-link--no-visited-state", 
          data: { "modal-action": "back",
          gtm: "cancel-delete-image" 
        } %>                  
      <% end %>
    </div>
  </div>
</div>
