<% content_for :back_link, render_back_link(href: versioned_document_path(@document)) %>
<% content_for :title, t("unpublish.remove.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render_govspeak(File.read("app/views/unpublish/unpublish.govspeak.md")) %>
  </div>
</div>
