<% if flash["alert_with_items"] %>
  <%= render "govuk_publishing_components/components/error_summary", {
    title: flash["alert_with_items"]["title"],
    items: flash["alert_with_items"]["items"].map(&:symbolize_keys),
    data_attributes: { gtm: "global-alert" },
  } %>
<% end %>

<h1 class="govuk-heading-l"><%= yield(:title) %></h1>

<%= yield %>
