<% content_for :back_link, render_back_link(href: versioned_new_document_path) %>
<% content_for :title, @supertype.label %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag versioned_create_document_path, data: { gtm: "new-document" } do %>
      <%= render "govuk_publishing_components/components/radio", {
        name: "document_type",
        items: @document_types.map { |document_type|
          {
            value: document_type.id,
            text: document_type.label,
            hint_text: document_type.description,
            conditional: document_type.hint ? tag.div(govspeak_to_html(document_type.hint_govspeak), class: "govuk-body") : nil,
            bold: true,
          }
        }
      } %>

      <%= hidden_field(nil, :supertype, value: @supertype.id) %>
      <%= render "govuk_publishing_components/components/button", text: "Continue", margin_bottom: true %>
    <% end %>
  </div>
</div>
